<navbar id="top-navbar"></navbar>
<div class="container my-3">
  <div class="row">
    <!-- <div class="col-lg-12 col-md-6 d-none d-md-block"> -->
    <div class="col-lg-12">
      <category-nav></category-nav>
    </div>
  </div>
</div>
<!-- <button class="btn btn-success m-2" (click)="createProduct()">
  Create Product
</button> -->
<div class="container my-3">
  <div class="row">
    <div class="col-5 col-md-3">
      <!-- category-List -->
      <!-- <breadcrumb></breadcrumb> -->
      <category-list></category-list>
    </div>

    <div class="col-7 col-md-9">
      <h1>
        <!--{{ title }}-->
        <!-- {{ title }} -->
      </h1>
      <!-- buranın değiştirilebilir alan olması için routing işlemi yapıyoruz  -->
      <!-- <product-list></product-list> -->
      <router-outlet id="a"></router-outlet>
    </div>
  </div>
</div>

<a (click)="scrollTo()" id="backtotop">
  <i class="fa-solid fa-circle-arrow-up"></i>
</a>
<footer class="py-5 bg-dark text-center text-white">
  <div class="container text-center">
    <div class="row">
      <div class="col-12 mb-1">
        <a
          (click)="scrollTo()"
          routerLink="/contactus"
          style="text-decoration: none"
        >
          Bizimle İletişime Geçmek İçin Tıklayın</a
        >
      </div>
      <div class="col-12">
        <span>All Rights Reserved. &#64;2025</span>
      </div>
    </div>
  </div>
</footer>
<!-- app component -->
