<!-- <div *ngIf="inputCategoryDown != null; else breadcrumbDis">
  <ng-template [ngTemplateOutlet]="breadcrumbShow"></ng-template>
</div>
<ng-template #breadcrumbShow>
  <div class="container text-align-center text-start mb-2">
    <div class="row">
      <div class="col-12">{{ inputCategory }} / {{ inputCategoryDown }}</div>
    </div>
  </div>
</ng-template>

<ng-template #breadcrumbDis>
  
</ng-template> -->

<!-- <div class="container text-align-center text-start mb-2">
  <div class="row">
    <div class="col-12">{{ showBread() }}</div>
  </div>
</div> -->
